<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona tudo para a pasta /public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Bloquear acesso a arquivos sensíveis
<Files .env>
    Order allow,deny
    Deny from all
</Files>

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>
